@page
@model Zuber.Pages.LoginModel
@{
}

<form method="post">

    <div class="loginbox">
        <img src="~/Images/avatar.png" class="zia" />
        <h1>Login here</h1>
        <label for="uname"><b>Username</b></label>
        <input asp-for="@Model.input.Email" type="text" placeholder="Enter your email" required>
        <span asp-validation-for="@Model.input.Email" class="text-danger"></span>
        <label for="psw"><b>Password</b></label>
        <input asp-for="@Model.input.Password" type="password" placeholder="Enter Password" required>
        <span asp-validation-for="@Model.input.Password" class="text-danger"></span>
        <button type="submit">Login</button><br /><br />
        <button type="button" class="cancelbtn" style="background:#f7fb25">Cancel</button><br />

        @*<button type="button" class="cancelbtn">Cancel</button><br />*@
        <label>
            <input type="checkbox" checked="checked" name="remember">Remember me
        </label>
        <br />


        @*<div class="container" style="background-color:#f1f1f1">*@


        <span class="psw">Forgot <a href="#">PASSWORD?</a></span><br /><br /><br /><br />



        <a asp-page="Register" style="color:black">Register</a>
    </div>
</form>
<!doctype html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url(/Images/Zealand.jpg);background-size:cover;
            background-position: center;
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    </style>
 </head>
</html>

